<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slidee</title>
    <script type="module" crossorigin src="/assets/index.8cea3217.js"></script>
    <link rel="stylesheet" href="/assets/index.d1798ce4.css">
    <style>{{{styles}}}</style>
</head>

<body>
    <div class="reveal">
        <div class="slides">
            <section data-markdown data-separator="^---\s+?$" data-separator-vertical="^\|\|\|\s+?$" data-separator-notes="^- Notes:|^### Notes:">
                <script type="text/template">{{{markdown}}}</script>
            </section>
        </div>
    </div>

</body>

</html>